                body:before {
                    white-space: pre;
                    font-family: monospace;
                    content: "Error: Undefined variable: \"$color_secondary2\".\A         on line 13 of ./sass/partials/complaint.scss\A \A 8:     box-sizing: border-box;\A 9:   }\A 10:   .contact_form {\A 11:     padding: 40px 0 60px 0;\A 12:     a {\A 13:       color: $color_secondary2;\A 14:       text-decoration: none;\A 15:       .btn {\A 16:         font-size: 16px;\A 17:         line-height: 20px;\A 18:         font-family: $font_heading_light;";
                }