                body:before {
                    white-space: pre;
                    font-family: monospace;
                    content: "Error: Undefined mixin 'mv-media'.\A         on line 4 of ./sass/partials/privacy_policy.scss, in `mv-media'\A         from line 4 of ./sass/partials/privacy_policy.scss\A \A 1: #privacy_policy{\A 2:     padding-top: 70px;\A 3: \A 4:     @include mv-media(max, 767px) {\A 5:         padding-top: 60px;\A 6:     }\A 7:     .first_section{\A 8:         padding: 40px 0;\A 9:         h2{";
                }