#change_password {
    padding-top: 70px;

    @include mv-media(max, 767px) {
        padding-top: 60px;
    }

    .client {
        padding: 100px 0;
        background-color: #eeeeee;

        @include mv-media(max, 767px) {
            padding: 30px 0;
        }

        @include mv-media(768px, 992px) {
            padding: 50px 0;
        }

        .client_log_in {
            @include mv-media(768px, 992px) {
                width: 80%;
                margin: auto;
            }

            .img_text_section {
                position: relative;

                img {
                    @include mv-media(768px, 992px) {
                        width: 100%;
                    }
                }

                .text_section {
                    top: 50%;
                    width: 50%;
                    position: absolute;
                    padding-left: 20px;
                    transform: translateY(-50%);

                    @include mv-media(max, 767px) {
                        position: inherit;
                        top: inherit;
                        width: 100%;
                        transform: none;
                        padding-left: 0;
                    }

                    h1 {
                        font-size: 34px;
                        margin-top: 0;
                        letter-spacing: 1.5px;
                        color: $color-white;
                        // font-family: $font_heading_lato_black;

                        @include mv-media(max, 767px) {
                            color: #1f1f1f;
                            font-size: 22px;
                            margin: 20px 0;
                        }

                        @include mv-media(993px, 1200px) {
                            font-size: 28px;
                        }
                    }

                    p {
                        font-size: 16px;
                        color: $color-white;
                        padding-right: 20px;

                        @include mv-media(max, 767px) {
                            color: #1f1f1f;
                        }
                    }
                }
            }

            .log_in_section_main {
                @include mv-media(max, 992px) {
                    padding-top: 20px;
                }

                h2 {
                    font-size: 24px;
                    color: #206396;
                    text-align: center;
                    text-transform: uppercase;
                    // font-family: $font_heading_bold;

                    @include mv-media(max, 767px) {
                        font-size: 20px;
                    }
                }

                .log_in_section {
                    label {
                        left: 82px;
                        bottom: -15px;
                        position: absolute;

                        @include mv-media(max, 767px) {
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    .form-group {
                        position: relative;
                        border-radius: 50px;
                        background-color: $color-white;

                        .form-control {
                            border: 0;
                            width: 85%;
                            padding: 0;
                            height: 45px;
                            margin-left: auto;
                            border-top-right-radius: 50px;
                            border-bottom-right-radius: 50px;
                            background-color: $color-white;

                            @include mv-media(max, 767px) {
                                width: 80%;
                                height: 38px;
                            }
                        }

                        .form_img {
                            top: 50%;
                            left: 40px;
                            position: absolute;
                            transform: translateY(-50%);

                            @include mv-media(max, 767px) {
                                left: 25px;
                            }
                        }
                    }

                    .button_section {
                        margin-top: 20px;

                        @include mv-media(max, 992px) {
                            margin-top: 30px;
                        }

                        .log_in_btn {
                            border: 0;
                            width: 100%;
                            padding: 12px;
                            color: $color-white;
                            border-radius: 50px;
                            letter-spacing: 1.5px;
                            background-color: #206396;
                            font-family: $font_heading_regular;
                        }
                    }
                }

                h5 {
                    color: #206396;
                    font-size: 20px;
                    text-align: center;

                    @include mv-media(max, 767px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
